h1{color: aliceblue;
    background-color:blueviolet;
}
.heading1{
    color: beige;
    background-color:brown;
}
#heading5{
    color: fuchsia;
    background-color: black;
}
#heading4{
    color: red;
    background-color: cadetblue;
}
.heading6{
    color: red;
    background-color: blue;
}

.heading3{
    color: red;
    background-color: blue;
}

.heading2{
    color: red;
    background-color: blue;
}
.yello{
    background-color:yellow;
}
.yell2{
    background-color:yellow;
}
  
       